@import "tailwindcss";

@theme {
    --color-mint-500: oklch(0.72 0.11 178);
    --color-primary: #212c4b;
    --color-secondary: #fcfcfd;
    --color-accent: #b8ab95;
    --font-logo: "Young Techs", sans-serif;
}

@layer components {
    p {
        color: var(--color-secondary);
    }
    h1 {
        color: var(--color-accent);
    }
    h2 {
        color: var(--color-accent);
    }
}
